<head>
  <div class="banner">
    <img class="banner-img" src="https://uploads-ssl.webflow.com/603d7c57109fdd03a52d4048/60c7d7d74701b738d8d26a89_nike_drop.jpeg">
  </div>
</head>
<div class="heading">Sneakers</div>

<div class="wrapper">
  <% sneakers.forEach(sneaker => { %>

  <div class="sneaker">
    <div class="sneaker-polaroid"><img src="<%= sneaker.img%>">
      <div class="name"><a style="font-family: 'Architects Daughter', cursive;" href="/sneaker/<%= sneaker.id %>/show"><%= sneaker.name %></a></div>
    </div>
  </div>

  
  <% }) %>
</div>



