<head>
  <div class="banner">
    <img class="banner-img" src="/images/Su15_RN_Vomero_W_Hero_Tight_hd_1600.jpeg">
  </div>
</head>
<div class="heading">Sneakers</div>

<div class="index-wrapper">
  <% sneakers.forEach(sneaker => { %>

  <div class="sneaker">
    <div class="sneaker-polaroid"><img src="<%= sneaker.img%>">
      <div class="name"><a style="font-family: 'Architects Daughter', cursive;" href="/sneaker/<%= sneaker.id %>/show"><%= sneaker.name %></a></div>
    </div>
  </div>

  
  <% }) %>
</div>



