<div class="new-form">
<form action="/sneaker" method="POST">
    <label for="name">Name</label>
    <input type="text" name='name' id='name'>
    <label for="img">Image Link</label>
    <input type="text" name='img' id='img'>
    <label for="brand">Brand</label>
    <input type="text" name='brand' id='brand'>
    <label for="size">Size</label>
    <input type="text" name='size' id='size'>
    <label for="worn">Worn</label>
    <input type="text" name='worn' id='worn'>
    <input type="submit"value='Add Sneaker'>

</form>
</div>
