body{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
     background-color: white; 
     color: #000;
    
}
 .nav {
    background-color: white;
    color: rgb(0, 0, 0);
    list-style: none;
    text-align: right;
    padding: 20px 0 0 0;
    
   

}
.nav li{
    display:inline-block;
    padding: 0 25px 0 25px;
    
}

.nav li a {
    text-decoration: none;
    color: black;
    font-size: 30px;
}
.nav li a:hover {
    color: #abdd2c;
}

.logo{
    color: black;
    float: left;
    padding-left: 40px;
    font-size:30px;
    font-weight: bold;
}

.logo a:hover {
    text-decoration: none;
    color: black;
}

.logo a:hover {
    color:#abdd2c;
}

.banner {
    width: 100%;
    display: block;

}

 .banner .banner-img {
    width: 100%;
    height: 600px;
    display: flexbox;
   
}


 

   .sneaker{
       width: 500px;
   }
         
      
   h3 {
   font-size: 20px;
   text-decoration: none;
   font-weight: bold;
   background-color: #6be8a4;
   color: black;
   padding: 15px 0 0 0;
   text-align: center;
   margin: 0 -6px;
}

a{
    text-decoration: none;
    font-weight: bold;
    color: black;
}

.heading{
    text-align: center;
    color: #3e3fef;
    margin: 100px 0 50px 0;
    font-size: 100px;

}

.container2 {
    box-shadow: 0 px 16px 0 rgba(0, 0, 0, 0.0);
    justify-content: space-evenly;
    margin: auto;
    text-align: center;
    font-family: arial;
    display: flex;
    flex-wrap: wrap;
   
} 
  

.edit-form {
    font-size: 30px;
    margin: 150px 0 100px 0;
}

form input{
    font-size: .75em;
    display: flexbox;
}  

.new-form {
    font-size: 30px;
    margin: 150px 0 100px 0;
}


 *{
  margin: 0;
  padding: 0;
  font-family: "Open Sans",sans-serif;
  box-sizing: border-box;
}
  
.show{
  background: white;
   transition: 0.6s linear; 
}
 
.sneaker-card{
box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  width: 1000px;
  background: #ecedef;
  padding: 30px;
  position:absolute;
  left: 50%;
  top: 85%;
  transform: translate(-50%,-50%);
  text-transform: uppercase;
  border-radius: 20px;
}
.sneaker-card h1{
  font-size: 48px;
  margin-bottom: 4px;
}
.sneakert-card h2{
  font-size: 40px;
  color: #bbb;
}
.sneaker-pic{
  width: 495%;
  height: 595px;
  display: flex;
  transition: .6s linear;
}


 

.sneaker-info{
  display:inline-block;
  align-items: center;
}
.sneaker-size{
  color: black;
  font-size: 24px;
}
.edit-link{
  margin-left: auto;
  color: black;
  text-decoration: none;
  border: 2px solid;
  padding: 8px 24px;
  border-radius: 20px;
  transition: .5s linear;
  display: flex;
  justify-content: center;
}
 
.edit-link:hover{
  transform: scale(1.06);
}
form{
   size: 16px;
}

