<section class="register-background"></section> 
<div class="register-div">
    <div class="register-card">
        <h2>Join Now!</h2>
        <div class="row3">
          <div class="col3">
            <div class="form-group3">
                <form action="/session/register" method="POST">
                    <label for="username">Username:</label>
                    <input type="text" id="username" name="username">
            </div>
          </div>
      
          <div class="col3">
            <div class="form-group3">
                <label for="password">Password:</label>
                <input type="password" id="password" name="password">
            </div>
          </div>
      
          <div class="col3">
            <div class="form-group3">
                <label for="verifyPassword">Re-type Password:</label>
        <input type="password" id="verifyPassword" name="verifyPassword">
            </div>
          </div>
      
          <div class="col3">
            <input class="register-input" type="submit" value='Register'>
        </form>
          </div>
        </div>
      </div>
    </div>


